`
<div class="container-fluid">
    <div class="row">
        <div class="main-container col-lg-12 col-md-12 col-sm-12 sol-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 sol-xs-12" id="student-invoice-pc"
                 style="border-bottom: 1px solid #a9a6a6;margin-bottom: 10px;">

                <div class="form-input col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <span class="col-lg-4 col-md-4 col-sm-6 col-xs-6 font-family font-700"><span translate="YEAR"></span>
                    <span class="mandatory">*</span></span>
                    <vselect type="input" name="session"id="sessionDuration"
                             class="input-box font-family font-700 font-14 col-lg-8 col-md-8 col-sm-6 col-xs-6"
                             ng-model="studentInvoiceView.year"
                             ng-change="studentInvoiceView.getData()">
                        <option disabled value="" >Select Year</option>
                        <option ng-repeat="y in studentInvoiceView.yearArray"
                                value="{{y}}">{{y}}</option>
                    </vselect>
                </div>

                <span class="header-name"><span translate="INVOICE"></span></span>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 sol-xs-12" id="student-invoice-mb">
                <span class="header-name col-lg-12 col-md-12 col-sm-12 col-xs-12"
                      style="margin-bottom: 10px">
                  <span translate="INVOICE"></span>
                </span>
                <div class="form-input no-padding  col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <vselect type="input" name="session"
                             class="input-box font-family font-700 font-14 col-lg-12 col-md-12 col-sm-12 col-xs-12"
                             ng-model="studentInvoiceView.year"
                             ng-change="studentInvoiceView.getData()">
                        <option disabled value="" >Select Year</option>
                        <option ng-repeat="y in studentInvoiceView.yearArray"
                                value="{{y}}">{{y}}</option>
                    </vselect>
                </div>
            </div>

            <div class="col-md-12" ng-if="studentInvoiceView.showData">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered table-striped">

                         <colgroup>
                             <col width="1%"/>
                            <col width="5%"/>
                            <col width="5%"/>
                            <col width="43%"/>
                            <col width="18%"/>
                            <col width="7%"/>
                            <col width="7%"/>
                            <col width="7%"/>
                            <col width="7%"/>
                         </colgroup>

                        <thead>
                        <th><span translate="SERIAL_NUMBER"></span></th>
                        <th><span translate="MONTH"></span></th>
                        <th><span translate="YEAR"></span></th>
                        <th><span translate="ITEM"></span></th>
                        <th>Editable</th>
                        <th><span translate="CANCELLATION"></span>(¥)</th>
                        <th><span translate="TOTAL"></span>(¥)</th>
                        <th><span translate="CONSUMPTION_TAX"></span>%</th>
                        <th><span translate="GRAND_TOTAL"></span>(¥)</th>
                        <th><span translate="GENERATE_INVOICE"></span>(¥)</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(nameKey, nameValue) in studentInvoiceView.respData">
                            <td>{{$index+1}}</td>
                            <td>{{nameKey}}</td>
                            <td>{{nameValue.year}}</td>

                            <td><table class="table-in-table table-condensed table-hover table-striped table-bordered">
                                <tbody>
                                <tr ng-repeat="d in nameValue.attributeList">
                                    <td>{{d.courseName}}</td>
                                    <td>{{d.feeType}}</td>
                                    <td>{{d.feeType == 'Per session' ? d.sessionDuration:''}}</td>
                                    <td>{{'¥ '}}{{d.fees}}</td>
                                    <td>{{d.session != 0 ? 'session =' : ''}}{{d.session != 0 ? d.session : ''}}</td>
                                </tr>
                                </tbody>
                            </table>
                            </td>
                            <td>
                                <table class="table-in-table table-condensed table-hover table-striped table-bordered">
                                    <tbody>
                                    <tr ng-repeat="d in nameValue.editableList">
                                        <td>{{d.description}}</td>
                                        <td>{{d.amount}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>{{nameValue.cancellationAmount}}</td>
                            <td>{{nameValue.total}}</td>
                            <td>{{nameValue.consumptionTax}}</td>
                            <td>{{nameValue.grandTotal}}</td>
                            <td><button class="btn-custom-sm btn-custom-success"
                                        title="Generate Invoice"
                                ng-click="studentInvoiceView.getInvoiceDetails(nameKey);">
                                <i class="fas fa-pen-nib"></i>
                            </button></td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>