<div class="container-fluid" >
    <div class="row">
        <div class="main-container col-lg-12 col-md-12 col-sm-12 sol-xs-12">

            <div class="col-lg-7 col-md-7 col-sm-12 sol-xs-12" style="height: 80vh;border-right: 1px solid grey">

                <div class="">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-bordered table-striped">

                            <thead>
                            <th><span translate="SERIAL_NUMBER"></span></th>
                            <th><span translate="MUSIC_TYPE"></span></th>
                            <th><span translate="ACTION"></span></th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="d in musicType.musicRoomList  | orderBy:musicRoom.column:musicRoom.reverse">
                                <td>{{$index+1}}</td>
                                <td>{{d.musicType}}</td>
                                <td class="">
                                    <button class="btn-custom-sm btn-custom-primary" ng-click="musicType.updateModal(d)"
                                            title="Update Music Type">
                                        <i class="fas fa-pen-nib"></i>
                                    </button>
                                    <button class="btn-custom-sm btn-custom-voilet" ng-click="musicType.deleteModal(d)"
                                            title="Remove Music Type">
                                        <i class="far fa-trash-alt"></i></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="registration-from col-lg-5 col-md-5 col-sm-12 sol-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 sol-xs-12" >
                    <button class="btn-custom btn-custom-primary"
                            title="Add Music Room"
                            ng-click="musicType.addMusicType();">
                        <span translate="ADD_MUSIC_TYPE"></span><i class="fas fa-plus"></i>
                    </button>
                    <hr style="border-top: 1px solid #a9a6a6">
                </div>
                <div class="scrollable-form-musictype col-lg-12 col-md-12 col-sm-12 sol-xs-12" id="scroll-bar">

                    <vform name="musicType" config="musicType.formConfig"
                           class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0">

                        <div class="form-input col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="col-lg-6 col-md-6 col-sm-12 col-xs-12 font-family font-700"><span translate="MUSIC_TYPE"></span>
                            <span class="mandatory">*</span></span>
                            <vinput type="input"
                                    name="musicType"
                                    capitalize=""
                                    form-config="musicType.formConfig"
                                    required=""
                                    ng-model="musicType.formModel.musicType"
                                    placeholder="Name"
                                    id="musicType"
                                    class="input-box font col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            </vinput>
                        </div>
                    </vform>

                </div>
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 25px">
                    <button class="btn-custom btn-custom-success"
                            title="Submit"
                            ng-if="musicType.formModel.primaryKey == null"
                            ng-click="musicType.formSubmit($event );">
                        <span translate="SUBMIT"></span>
                    </button>
                    <button class="btn-custom btn-custom-primary"
                            title="Update"
                            ng-if="musicType.formModel.primaryKey != null"
                            ng-click="musicType.formSubmit($event );">
                        <span translate="UPDATE"></span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>